# MacOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl

agent_instructions.md
screenshots/
social_media_post.md
social_media_post_zh.md